# todo: add some version range or pinning latest versions
# tests and coverages
pytest
coverage
pytest-cov
pytest-asyncio
birch
# to be able to run `python setup.py checkdocs`
collective.checkdocs
pygments
# the memory core tests dataframe caching
pandas
pympler
# for cli tests
click
# to run pre-commit hooks localy
pre-commit
