name: Lint

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    environment:
      name: test
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
        os: [ubuntu-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3.4.0

      - name: set up python '3.10'
        uses: actions/setup-python@v4.5.0
        with:
          python-version: "3.10"

      # Install your linters here
      - name: Install linters
        run: |
          python -m pip install -e . -r tests/requirements.txt

      - name: Run linters
        uses: wearerequired/lint-action@v2.3.0
        with:
          flake8: true
          continue_on_error: false
          # Enable your linters here
